{% extends "auctions/layout.html" %}

{% block body %}
    <h2>Active Listings</h2>
    <ul>
        {% for activeListing in activeListings %}
                <span class="border">
                    <a href="{% url 'listing' activeListing.id%}">Id: {{activeListing.id}} Name : {{ activeListing.title }}</a>
                    {% if activeListing.photo %}
                        <img src="{{ activeListing.photo.url }}"  alt="connect" style="max-height:300px">
                    {% endif %}
                    {{ activeListing.time }}
                </span>
                <br>
                <br>
        {% endfor %}
    </ul>
{% endblock %}